setuptools<82.0.0
numpy<2.0.0

torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1

xformers==0.0.23
huggingface-hub==0.20.1
accelerate==0.25.0
transformers==4.36.2
diffusers==0.25.0

opencv-python==4.11.0.86
scipy
simpleitk